<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1>Class Rooms</h1>
    <h2>Classroom: {{ title }}</h2>
    <p>
        {% if description|length > 50 %}
            {{ description|slice:":50" }}...
        {% else %}
            {{ description }}
        {% endif %}
    </p>
    

    <script src="{% static 'js/maint.js' %}"></script>
</body>
</html>
